/* Reset Styles */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;

  font-family: sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

/* Navigation */

.main-nav{
  display: grid;
  /* gap: 20px; */
  grid-template-columns: repeat(3, auto);
}

/* Centering and aligning */

.middle {
  max-width: 130ch;

  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.align-items__center {
  display: grid;
  align-items: center;
}


/* Header */
.logo {
  display:grid;

  width: 170px;
  /* height: 30px; */
}


.sign-up-button{
  background-color: white;
  color: #189DCC;
  border-color: #189DCC;
  border-radius: 10px;
  height: 30px;
  width: 100px;
}

/* below can be used for h2's for every section if the text size is */
.inova { 
  font-size: 18px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.text-size { 
  font-size: 16px;
}

select { 
  border: 0px;
}

/* Body */

li:not(.row_list){

  display: inline-block;
  margin-right: 20px;
  padding: 0;
}

.docker {
    display: grid;
    max-width: 50px;
    max-height: 50px;
}

.gap-divider{
  margin-bottom: 20px;
}

/* Deploy */

.blue-bg {
  background-color: rgba(0,74,255,255);
  background: linear-gradient(196deg, #1CB5E0 0%, #000851 100%);
}

.deploy-label { 
  display: grid;
  background: white;
  /* padding: 20px; */
  margin: 40px;
  border-radius: 10px;
  /* gap: 5px; */
}

.text-centre {
  text-align: center;
}

.another_align {
  text-align: center;
  
}

.style-the-box {
  border: 1px solid gray;
  border-radius: 5px;
}

.deploy-form { 
  display: grid;
  margin: 15px;
  /* grid-template: 
  ". email ." 35px 
  ". password ." 35px 
  ". create_account ." 35px 
  ". google ." 35px /
  repeat(4, 1fr); */
  /* padding: 10px; */
  /* justify-items: center; */
  gap: 10px;
}
 
.deploy-form button {
display: grid;
border: 1px solid #1CB5E0;
border-radius: 5px;

}

/* Inovative section */

.inovative-logos ul {
  height: 100%;

  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}


#google_button img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}


#google_button {
  /* display: grid; */
  /* max-width: 100%; */
  /* max-height: 100%; */
  margin-top: 10px;
  height: 28px;
  width: 80px;
}

form .create-acc-button{
  background-color: #229fc2;
  color: white;
  height: 20px; 
}

/* Deploy */
.para {
  align-items: center;
}

.two-column-grid_button {
  display: grid;
  grid-template-columns: 90px 90px; 

}

.two-column-grid_expand-two {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.deploy-inner-list, .footer-inner-list, .dessigned-bottom-dots ul{ 
  list-style-type:circle;
}

.row_list {
  /* margin-bottom: 10px; */
  padding-top: 10px;
  padding-left: 5px;
  border-left: 1px solid gray;
  height: 12%;
  list-style-type: none;
}

 /* .under li {   // this is to underline list from line 202 -> "  <ul class="over-seas under"> "
  border-bottom: 1px solid yellow;
} */

/* Designed for devs */

.droplets-img,
.arrow-left,
.arrow-right { 
  display: grid;
}

.three-column-grid__adjustable {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
}

/* Features your business needs */

.three-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Grids adn colums classes */


.customers-stories { 
  margin-bottom: 20px;
}

.two-column-grid{
  /* margin: 20px; */
  display: grid;
  grid-template-columns: 3fr 2fr;
}




.account-creation button{ 
  width: 100px;
}

/* Get started */
 .account-creation {
  margin-top: 40px;
}

/* Footer */

  footer{
      margin-bottom: 0;
  }

  .footer-inner-list {
    display: inline-block;
    margin-right: 20px;
  }

  .four-column-grid {
    display: grid;
    grid-template-rows: 1fr;
  }




.navy-bg{ 
  background-color:#000851;
}

  /* text & colors */

  h1, h2 {
    text-align: center;
  }

  h3 { 
    color: white;
  }

  .top-margin { 
    margin-top: 40px;
  }

  .bannerh1 { 
    font-size: 45px;
    color: aliceblue;
  }

  .gray-text {
    color: gray;
  }

.light-gray-background {
  background-color: #e0e0e0;
  }

  .blue {
    color: #1CB5E0;
  }


